In [10]:
import numpy as np
import pandas as pd

In [29]:
a = [4,19,15,18,3,12,1,16,7,10,17,11,14,20,13,9,5,6,8,2]
b = [0.02,0.08,0.32,0.12,0.12,0.27,0.21,0.1,0.28,0.25,0.05,0.32,0.07,0.26,0.21,0.12,0.23,0.07,0.17,0.19]
c = [137.02,548.08,2192.31,822.12,822.12,1849.76,1438.7,685.1,1918.27,1712.74,342.55,2192.31,479.57,1781.25,1438.7,822.12,1575.72,479.57,1164.66,1301.68]

In [30]:
df = pd.DataFrame()

In [31]:
df['node_no'] = a
df['power'] = b
df['charging'] = c

In [32]:
df = df.sort_values(by='node_no')
df.index = df.node_no.values

In [38]:
df['error'] = df['charging']*5 - df['power']*34254

In [39]:
df

    node_no  power  charging  error
1         1   0.21   1438.70   0.16
2         2   0.19   1301.68   0.14
3         3   0.12    822.12   0.12
4         4   0.02    137.02   0.02
5         5   0.23   1575.72   0.18
6         6   0.07    479.57   0.07
7         7   0.28   1918.27   0.23
8         8   0.17   1164.66   0.12
9         9   0.12    822.12   0.12
10       10   0.25   1712.74   0.20
11       11   0.32   2192.31   0.27
12       12   0.27   1849.76   0.22
13       13   0.21   1438.70   0.16
14       14   0.07    479.57   0.07
15       15   0.32   2192.31   0.27
16       16   0.10    685.10   0.10
17       17   0.05    342.55   0.05
18       18   0.12    822.12   0.12
19       19   0.08    548.08   0.08
20       20   0.26   1781.25   0.21